.weather-app-background {
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  max-width: 1000px;
  min-width: 850px;
  margin: 20px auto;
  padding-bottom: 10px;
  font-family: "Noto Sans", sans-serif;
  color: #47555d;
}
.weather-daily-content {
  position: relative;
  background: linear-gradient(to top, #7bcbed 0%, #05b0ff 100%);
  margin: 10px;
  padding-top: 20px;
}
li {
  list-style-type: none;
}
.city-col {
  text-align: right;
  padding-right: 20px;
  padding-left: 20px;
  border-right: 3px solid #1280e8;
  max-width: 100%;
}

.weather-description {
  font-size: 24px;
  font-weight: bold;
}
.weather-advice {
  font-size: 12px;
}
.daily-temp {
  font-size: 72px;
  padding-left: 10px;
  line-height: 1;
}

.units {
  position: relative;
  font-size: 18px;
  top: -38px;
}
.bold-weather-label {
  font-weight: bold;
}
.daily-icon img {
  position: absolute;
  width: 150px;
  top: 5px;
  right: 20px;
}
.extra-facts {
  text-align: left;
  padding-right: 30px;
  vertical-align: bottom;
}

.weather-app {
  color: #47555d;
  text-align: center;
  padding: 10px;
}
.weekly-weather {
  margin: 10px;
  padding-top: 20px;
}
#forecast .row {
  display: flex;
  justify-content: center;
}
.weather-forecast {
  text-align: center;
  margin-top: 20px;
  display: inline;
}
.weather-forecast-day {
  font-weight: bold;
  font-size: larger;
}
.forecast-img img {
  padding: 10px;
  width: 72px;
}
.forecast-temp {
  font-weight: bold;
}
.forecast-min-temp {
  color: #969b9e;
}
.main-button {
  width: 150px;
  padding-top: 10px;
  padding-bottom: 6px;
  padding-left: 6px;
}
.current-location-button {
  margin-top: 10px;
}
.social-icon {
  display: block;
  margin: auto;
  width: 32px;
}
.social-link {
  display: block;
  text-align: center;
}
.icon-attribute {
  display: block;
  text-align: center;
  font-size: 10px;
  font-style: italic;
}
